/* INICIO CARACTERISTICAS GENERALES */
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* FIN CARACTERISTICAS GENERALES */
.whatsapp {
  position: fixed;
  bottom: 60px;
  right: 110px;
  
}
.navegacion_principal_header {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  height: 120px;
  position: fixed;
}
.logo_contenedor{
  width: 10%;
}
.navegacion_principal_header_logo {
  width: 12%;
  border-radius: 30%;
  padding: 6px;
}

.titulo_nav {
  text-align: center;
  color: aqua;
  border-radius: 50px;
  padding: 15px;
  margin: 5px;
  width: 30%;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 251, 255),
    rgb(165, 164, 190)
  );
}

.nav-item {
  font-size: 10px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.sub_titulo_nav {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 251, 255),
    rgb(165, 164, 190)
  ) !important;

}

/* FIN HEADER */

.main_header_principal_imagen {
  height: 90px;
  width: 100%;
}
/* FIN MAIN PRINCIPAL */

.como_trabajamos {
  background-image: linear-gradient(
    to bottom,
    rgb(4, 0, 255),
    rgb(0, 208, 255)
  );  
;
}
.como_trabajamos_titulo  {
  color: aqua;
  font-weight: bold;
  line-height: 3;
  background-image: linear-gradient(to bottom, #c33e92, rgb(4, 0, 255));
  border-radius: 40%;
  padding: 25px;
  margin-top: 25px;
  font-size: 15px;

}
.pedido_contenedor{
  margin-left: 15px;
  width: 100%;
}
.pedido_titulo {
  color: aqua;
  font-weight: bold;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  text-align: center;
  line-height: 3;
  align-items: center;
  font-size: 15px;
}
.pedido_imagen {
  border-radius: 40%;
  margin: 15px;
  width: 50%;
  
}
.pedido_contenido {
  color: aqua;
  font-size: 15px;
  background-color: #043caa;
  font-weight: bold;
  padding: 15px;
  border-radius: 40px;
  text-align: center;
}

.delivery_contenedor {
  width: 100%;
}
.delivery_titulo {
  color: aqua;
  font-weight: bold;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  line-height: 3;
  padding: 15px;
  font-size: 15px;
  text-align: center;
}
.delivery_imagen {
  border-radius: 40%;
  margin: 15px;
  width: 50%;
}
.delivery_contenido {
  color: aqua;
  font-size: 15px;
  background-color: #043caa;
  font-weight: bold;
  border-radius: 40px;
  padding: 15px;
  text-align: center;

}

.takeaway_contenedor {
  margin-right: 15px;
  width: 100%;
}
.takeaway_titulo {
  color: aqua;
  font-weight: bold;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  text-align: center;
  line-height: 3;
  padding: 15px;
  font-size: 15px;
}
.takeaway_imagen {
  border-radius: 40%;
  margin: 15px;
  width: 50%;
}

.takeaway_contenido {
  color: aqua;
  font-size: 15px;
  background-color: #043caa;
  font-weight: bold;
  border-radius: 40px;
  text-align: center;
  padding: 15px;

}

.pedilo_ahora_contenedor {
  text-align: center;

}
.pedilo_ahora {
  background-image: linear-gradient(to bottom, #c33e92, rgb(4, 0, 255));
  color: aqua;
  font-size: 15px;
  padding: 15px;
  width: 50%;
  border-radius: 45px;
  font-weight: bold;
  margin-left: 80px;
}

.promociones_principal {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
}
.promociones_titulo {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  font-weight: bold;
  line-height: 3;
  text-align: center;
  color: aqua;
  border-radius: 80%;
  padding: 5px;
  font-size: 15px;
  
}

/* FIN PROMOCIONES */

/* FIN CÓMO TRABAJAMOS */
.footer_principal {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  color: white;
  font-size: medium;
  padding: 30px;

}

.footer_principal_imagen_logo {
  border-radius: 40%;
  width: 10%;
}
.footer_principal_texto_contacto {
  color: aqua;
  font-weight: bold;
  font-size: 10px;

}

.fOOter_principal_imagen_instagram {
  border-radius: 40%;
  width: 10%;

}
.footer_principal_texto_instagram {
  color: aqua;
  font-weight: bold;
  font-size: 10px
}
/* INICIO PAGINA NOSOTROS */

.nosotros {
  height: 90vh;
  background-color: #c33e92;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 166),
    rgb(0, 200, 255)
  );
}
.nosotros_titulo {
  line-height: 3;
  font-size: 17px;
  color: aqua;
  text-align: center;
  padding-top: 150px;
}
.nosotros_contenido {
  font: bold;
  font-size: 10px;
  color: #333333;
  font-weight: bold;
  margin: 10px 50px 100px 50px;
  text-align: center;
}
/* FIN PAGINA NOSOTROS */

/* INICIO PAGINA CONTACTOS */
.seccion_contactos {
  padding-top: 150px;
  font: 15px;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 166),
    rgb(0, 200, 255)
  );
  height: 800px;
}
.contactos_principal {
  line-height: 20px;
}
.contactos_datos{
  margin: 10px;
  padding: 10px;
}
.contactos_descripcion {
  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 10px;
}
.consultanos_contactos {  
  text-align: center;
  background-color: aqua;
  border-radius: 20%;
  font-size: 10px;
  filter: drop-shadow(4px 7px 2px rgb(94, 93, 93));
  width: 50%;
  margin-top: 30px;
  margin-left: 150px;

}

.enviar {
  font-size: 10px;
  margin-top: 10px;
  padding: 20px;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  background-color: #c33e92;
}

.enviar_formulario {
  font-size: 15px;
  padding: 20px;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  background-color: #c33e92;

}

.input {
  font-size: 15px;
}

.localidad {
  font-size: 10px;
}
.checkbox {
  width: 25px;
  height: 25px;
}
/* FIN PAGINA CONTACTOS */
/* INICIO PAGINA CUIDADO PERSONAL */

.cuidadopersonal_principal {
  text-align: center;
  line-height: 6;
  background-image: linear-gradient(
    to right,
    rgb(0, 200, 255),
    rgb(94, 93, 93)
  );

}
.cuidadopersonal_subtitulo {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: aliceblue ;
  border-radius: 50%;
  font-weight: bold;
  font-size: 25px;
  filter: drop-shadow(4px 7px 2px rgb(94, 93, 93));
}

.seccion_cabello {
  padding-top: 100px;
  padding-left: 25px;
}
.cabello_imagen {
  width: 150px;
  height: 150px;
  border-radius: 30px;
}
.seccion_higiene_bucal {
  padding-top: 200px;
  padding-bottom: 25px;
  padding-left: 25px;
}
.higiene_bucal_imagen {
  width: 150px;
  height: 150px;
  border-radius: 30px;
}

.seccion_higiene_personal {
  padding-top: 100px;
  padding-bottom: 25px;

}
.higiene_personal_imagen {
  width: 150px;
  height: 150px;
  border-radius: 30px;
}
.cuidado_personal_p{
  border-radius: 40%;
  font-size: 18px;
  font-weight: bold;
  filter: drop-shadow(4px 7px 2px rgb(94, 93, 93));
  color: aliceblue ;

}


/* INICIO PAGINA MEDICAMENTOS */

.medicamentos_principal {
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 166),
    rgb(0, 200, 255)
  );
  padding-bottom: 25px;
  height: 1000hv;
}

.medicamentos_titulo_os {
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 15px;
  border-radius: 40%;
  background-color: aqua;
  text-align: center;
  margin-top: 150px;
}
.medicamentos_titulo_particulares {
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 15px;
  background-color: #c33e92;
  text-align: center;
  margin-top: 20px;
  border-radius: 40%;
}

.medicamentos_obrasocial_imagen {
  width: 250px;
  border-radius: 30%;
}
.medicamentos_particular_imagen {
  width: 250px;
  border-radius: 30%;

}
.descripcion_medicamentos {
  font-size: 15px;
  color: white;
  font-weight: bold;
  filter: drop-shadow(4px 7px 2px rgb(94, 93, 93));
  text-align: center;
  
}

/* FINAL PAGINA CUIDADO PERSONAL */

@media (min-width:576px) {

.navegacion_principal_header_logo {
  width: 8%;
}

.titulo_nav {
  width: 15%;
}

/* FIN HEADER */
.main_header_principal_imagen {
  height: 250px;
  width: 100%;
  
}
/* FIN MAIN PRINCIPAL */

/* INICIO CÓMO TRABAJAMOS */


.como_trabajamos_contenedor {
  gap: 20px 35px;
}
.como_trabajamos_titulo  {
  font-size: 20px;

}
.pedido_contenedor{
  margin-left: 15px;
}

.pedido_titulo {
  font-size: 25px;
}

.pedido_contenido {
  font-size: 20px;

}

.delivery_contenedor {
  text-align: start;
}
.delivery_titulo {
  font-size: 25px;
  
}

.delivery_contenido {
  font-size: 20px;

}

.takeaway_contenedor {
  margin-right: 15px;
}
.takeaway_titulo {
  font-size: 25px;
}

.takeaway_contenido {
  font-size: 20px;
}

.pedilo_ahora {
  font-size: 25px;
}
.promociones_principal {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
}
.promociones_titulo {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 208, 255),
    rgb(4, 0, 255)
  );
  font-weight: bold;
  line-height: 3;
  text-align: center;
  color: aqua;
  border-radius: 80%;
  padding: 10px;
  font-size: 25px;
  
}

/* FIN PROMOCIONES */

/* FIN CÓMO TRABAJAMOS */

/* INICIO PAGINA NOSOTROS */


.nosotros_titulo {
  font-size: 35px;
  padding-top: 250px;
}
.nosotros_contenido {
  font-size: 15px;
  margin: 150px 50px 150px 50px;
  
}
/* FIN PAGINA NOSOTROS */
/* INICIO FOOTER */

/* FIN FOOTER */

/* INICIO PAGINA CONTACTOS */
.seccion_contactos {
  padding-top: 200px;
  font: 25px;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 166),
    rgb(0, 200, 255)
  );
  height: 1000px;
}
.contactos_principal {
  line-height: 20px;
}
.contactos_datos{
  margin: 10px;
  padding: 10px;
}
.contactos_descripcion {
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 17px;
}

.enviar {
  font-size: 15px;
  margin-top: 15px;
  padding: 20px;
}

.enviar_formulario {
  font-size: 15px;
  margin-top: 15px;
  margin-left: 25px;
  padding: 25px;
  height: 100px;
}

/* FIN PAGINA CONTACTOS */

/* INICIO PAGINA CUIDADO PERSONAL */

.cuidado_personal_p{
  font-size: 32px;

}

/* FINAL PAGINA CUIDADO PERSONAL */

/* INICIO PAGINA MEDICAMENTOS */

.medicamentos_principal {
  height: 1000px;
}

.medicamentos_titulo_os {
  font-size: 30px;

}
.medicamentos_titulo_particulares {
  font-size: 30px;

}

.medicamentos_obrasocial_imagen {
  width: 250px;
  border-radius: 30%;
  margin-top: 100px;
}
.medicamentos_particular_imagen {
  width: 250px;
  border-radius: 30%;
  margin-top: 100px;
}
.descripcion_medicamentos {
  font-size: 20px;
  
}

}

@media (min-width: 820px) {

.whatsapp {
  bottom: 40px;
  right: 90px;
}

.navegacion_principal_header {
  height: 130px;

  }
.navegacion_principal_header_logo {
  width: 100px;
}

.titulo_nav {
  padding: 40px;
  margin: 20px;
  width: 88%;
}
.nav-item {
  font-size: 20px;
}

/* FIN HEADER */
.main_header_principal_imagen {
  height: 500px;
  
}
/* FIN MAIN PRINCIPAL */


/* INICIO CÓMO TRABAJAMOS */
.como_trabajamos_titulo  {
  font-size: 38px;

}

.pedilo_ahora_contenedor {
  text-align: center;

}
.pedilo_ahora {
  font-size: 40px;
  padding: 20px;
  margin-right: 45px;
}

.pedilo_ahora:hover {
  background-image: linear-gradient(to bottom, #c33e92, rgb(4, 0, 255));
  color: aqua;
  font-size: 40px;
  border-radius: 45px;
  font-weight: bold;
  transition: all 2s;
  padding: 40px;
  margin-right: 20px;
  align-self: center;
}
/* FIN CÓMO TRABAJAMOS */


/* INICIO PROMOCIONES */

.promociones_titulo {
  padding: 50px;
  margin: 50px;
  font-size: 35px;
  animation-name: promociones;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  opacity: 0;
  transition: 5s;
}

/* FIN PROMOCIONES */

/* INICIO FOOTER */

.footer_principal_texto_contacto {
  font-size: 20px;

}

.footer_principal_texto_instagram {
  font-size: 20px
}

/* INICIO PAGINA NOSOTROS */

.nosotros_titulo {
  font-size: 45px;

}
.nosotros_contenido {
  font-size: 20px;
  line-height: 3;

}
/* FIN PAGINA NOSOTROS */

/* INICIO PAGINA CONTACTOS */
.seccion_contactos {
  padding-top: 300px;
  height: 1400px;
}

.contactos_datos{
  margin: 25px;
  padding: 17px;
}
.contactos_descripcion {
  font-size: 20px;

}
.consultanos_contactos {
  text-align: center;
  background-color: aqua;
  border-radius: 20%;
  font-size: 25px;
  filter: drop-shadow(4px 7px 2px rgb(94, 93, 93));
  animation-name: animacion_contactos;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  width: 30%;
  margin-top: 200px;
  margin-left: 50px;
}
.contactos_accion{
margin-left: 50px;
}

@keyframes animacion_contactos {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(50px);
  }

  40% {
    transform: translateX(0);
  }
}

.enviar {
  font-size: 20px;
}

.enviar_formulario {
  font-size: 25px;
  padding: 25px;
  height: 100px;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes promociones {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.input {
  font-size: 25px;
}

.localidad {
  font-size: 25px;

  }
/* FIN PAGINA CONTACTOS */

/* INICIO PAGINA CUIDADO PERSONAL */

.cuidadopersonal_principal {
  font: 400px; 
  height: 1300px;

}
.cuidadopersonal_subtitulo {
  font-size: 35px;

}

.cabello_imagen {
  width: 300px;
  height: 250px;

}

.higiene_bucal_imagen {
  width: 300px;
  height: 250px;

}

.higiene_personal_imagen {
  width: 300px;
  height: 250px;

}
.cuidado_personal_p{
  font-size: 35px;

}

/* FINAL PAGINA CUIDADO PERSONAL */

/* INICIO PAGINA MEDICAMENTOS */

.medicamentos_principal {
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 166),
    rgb(0, 200, 255)
  );
}


.medicamentos_obrasocial_imagen {
  width: 500px;
  border-radius: 30%;
  margin-top: 300px;
}
.medicamentos_particular_imagen {
  width: 500px;
  border-radius: 30%;
  margin-top: 300px;
}
.descripcion_medicamentos {
  font-size: 30px;

}

}
